// Colors
$background-color: #fcfcfc;
$gold: #a5955c;
$black: #101010;
$gray: #777;
$gray-2: #333;
$light-gray: #808080;
$light-gray-2: #f6f6f6;
$light-gray-3: #ddd;
$background-gray: #eee;
$red: #d9534f;

// Sizes
$margin-container-sides-web: 15%;
$margin-container-sides-mobile: 5%;
$margin-home-sides-web: 7%;
$margin-home-sides-mobile: 1rem;
$margin-album-sides-web: 3rem;
$margin-album-sides-mobile: 1rem;
$margin-cv-sides-web: 20%;
$margin-cv-sides-mobile: 1rem;
$margin-contact-sides-web: 7%;
$margin-contact-sides-mobile: 1rem;